
.featureTitle{
    text-align: center;
    font-size: 5vh;
    margin-bottom:5vh;
}

.featureLi{
    height:40vh;
    width:60vh;
    border:1px solid black;
    margin-left:15px;
    display:block;
    margin-bottom:15px;
    padding:10px;
    border-radius: 73% 27% 49% 51% / 58% 63% 37% 42%  ;
    background: -webkit-linear-gradient(to right,
      #3c1053,
      #ad5389);
    background: linear-gradient(to right,
      #3c1053,
      #ad5389);
      
}

.flexContainer{
    display:flex;
    align-items: center;
    justify-content: center;
   flex-flow:row wrap;
   
}

.dummy{
    height:20vh;
    width:20vh;
    margin:10px;
    float:left;
    border: 1px solid #ddd; 
    border-radius: 4px;  
    padding: 5px; 
}

.dummy:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.textFeatured{
    font-size:18px;
    color:white;
   text-align: justify;
}

.text{
    font-size:18px;
   text-align: justify;
}


@media (max-width: 480px) {
    .flexContainer {
      flex-direction: column;
      align-items: center;
    }
    .text{
        font-size:15px;
    }
    .textFeatured{
        font-size:14px;
    }
    .featureTitle{
        font-size: 3vh;
    }
    .featureLi{
        height:30vh;
        width:50vh;
    }
    .dummy{
        height:10vh;
        width:10vh; 
    }
  }