.nav{
    height:30px;
    margin-top:5vh;
    background-color:black;
    opacity:0.8;
    width:100%;
    position:absolute;
    float:right;
    color:white;
    display:block;
    z-index:2;
}

li{
    margin-left:5vh;
    font-size:18px;
}

li a{
    color:white;
    text-decoration: none;
}

li a:hover{
    color:grey;
}

@media (max-width: 480px) {
    li{
        font-size:13px;
        margin-top:3px;
        margin-left:2vh;
    }
  }